
.gallery {
   
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.img-card {
    width: 16%;
    text-align: center;
    font-size: 20px;
    border: 3px solid black;
    margin: 5px;
    cursor: pointer;
}
.img {
    width: 100%;
    height: 300px;
      overflow: hidden;
}
.img img {
    width: 100%;
  height: 100%;
    transition: 1s transform;
}
.img img:hover {
   transform: scale(1.5);
}