.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border-top: 1px solid rgba(107, 105, 105, 0.863); */
}
.sec {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px;
}
.sec h2{
  color: rgb(165, 101, 42);
  font-size: 50px;
}
.Nav-link ul{
 display: flex;
 align-items: center;
 list-style: none;
}
.Nav-link ul li, .nav {
   font-size: 20px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px;
    text-decoration: none;
    color: rgb(165, 101, 42);
}
.hr {
    width: 90%;
    border: 0.5px solid rgba(0, 0, 0, 0.315);
}

.subscribe {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    font-size: 20px;
    color: rgb(165, 101, 42);
    justify-content: space-evenly;
}
.input {
    width: 50%;
    display: flex;
    align-items: center;
border-radius: 10px;
background-color: white;
overflow: hidden; 
border: 1px solid black;
}
.form {
display: flex;
width: 100%;
}
.input input, .input button {
    padding: 20px;
    border: none;
    
}
.input input{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 90%;
}
 .button {
    background-color: rgb(165, 101, 42);
    border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 100%;
}
footer p {
    text-align: center;
}