@mixin font($f, $s, $w, $size, $c) {
  font-family: $f;
  font-style: $s;
  font-weight: $w;
  font-size: $size;
  color: $c;
}

.nav-slide-container {
  padding: 30px;

  .mainpage-logo {
    display: flex;
    align-items: center;
    .nav-title-text {
      @include font(Satisfy, cursive, 600, 54px, #33343d);
      margin-left: 5px;
    }
    .anim-circle {
      width: 20px;
      height: 20px;
      background-color: rgba(165, 42, 42, 1);
      border-radius: 50%;
    }
  }
}
.nav-slide-links {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  .links {
    text-decoration: none;
    margin: 15px 30px;
    @include font(Noto Sans JP, sans-serif, 400, 20px, black);
    &:hover {
      color: rgba(165, 42, 42, 1);
    }
  }
  .btns {
    .nav-slide-btn-link {
      text-decoration: none;
      .nav-btn {
        border: 1px solid rgba(165, 42, 42, 1);
        @include font(
          Noto Sans JP,
          sans-serif,
          400,
          18px,
          rgba(165, 42, 42, 1)
        );
        margin: 0px 10px;
      }
    .signup-btn{
      background-color: rgba(165, 42, 42, 1);
      color: white;
    }
    }
  }
}
